<!DOCTYPE html>
<html>
<head>
	<title>History</title>
</head>
<body>
<div class="row">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/main">Main</a></li>
      <li class="active"><a href="#">History</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
       <li><a href="#" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
    </ul>
  </div>
</nav>
</div>
<input type="text" style="float:left;width: 20%;" class="form-control" placeholder="Search" ng-model="search">
<br>
<br>
<br>
<table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Total Attempts </td>
            <th>Total Correct  </td>
            <th>Total Incorrect</td>
            <th>Earning(Rs)  </td>           
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in records|filter:search">
          	<td class="active">{{x.date}}</td>
            <td class="info"  >{{x.totalAttempts}}</td>
            <td class="success">{{x.totalCorrect}}</td>
            <td class="danger" >{{x.totalIncorrect}}</td>
            <td class="warning">{{(x.totalEarning)}}</td>
          </tr>
        </tbody>
      </table>


</body>
</html>

